html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

form {
  margin: 2rem 1.5rem;
  padding: 1rem;
  border: 1px solid darkmagenta;
  border-radius: 12px;
}

form div {
  margin-bottom: 20px;
}

form input {
  margin: 0rem 1rem;
  border-radius: 12px;
  border: transparent;
  padding: 10px;
}

ul {
  margin: 1.5rem;
  padding: 0;
}

li {
  margin: 1rem;
  list-style-type: none;
}

li div {
  display: flex;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0px 3px 2px lightgrey;
}

li p {
  margin: 0;
}

button {
  color: white;
  background-color: darkmagenta;
  padding: 0.5rem 0.8rem;
  border: 0 transparent;
  border-radius: 12px;
}

button:hover {
  background-color: rgb(79, 9, 79);
}

button:active {
  border: 1px 'solid' black;
}

